apiVersion: apps/v1
kind: Deployment
metadata:
  name: shinemodas
  labels:
    app: shinemodas
spec:
  replicas: 1
  selector:
    matchLabels:
      app: shinemodas
  template:
    metadata:
      labels:
        app: shinemodas
    spec:
      containers:
        - name: shinemodas
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: shinemodas-service
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
      nodePort: {{ .Values.service.nodePort }}
  selector:
    app: shinemodas