name: CI/CD Docker Hub
run-name: Build and Deploy Docker Hub

permissions:
  id-token: write
  contents: read

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      docker_tag: ${{ steps.meta.outputs.version }}
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ secrets.DOCKERHUB_USERNAME }}/shinemodas
          tags: |
            type=sha,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=sha

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64
          context: .
          file: ./dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          
  deploy:
    needs: build
    runs-on: ubuntu-latest
    env:
      HELM_PATH: apps/shinemodas
      DOCKER_IMAGE: ${{ secrets.DOCKERHUB_USERNAME }}/shinemodas
      VERSION: ${{ needs.build.outputs.docker_tag }}
      APPLICATION: shinemodas
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.ACCESS_TOKEN_HELM }}

      - name: Setup Git Configuration
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"

      - name: Create Folder
        run: |
          mkdir -p "$HELM_PATH"

      - name: Write kubeconfig
        run: echo "${{ secrets.KUBECONFIG_CONTENT }}" > ${{ runner.temp }}/kubeconfig

      - name: Helm upgrade
        env:
          KUBECONFIG: ${{ runner.temp }}/kubeconfig
        run: |
          helm upgrade $APPLICATION "$HELM_PATH" \
          --set image.repository=$DOCKER_IMAGE \
          --set image.tag=$VERSION