name: Deploy Docker Hub
run-name: Deploy Docker Hub

permissions:
  id-token: write
  contents: read

on:
  workflow_call:
    inputs:
      docker_image:
        required: true
        type: string
        description: 'The docker image to deploy'
      docker_hub:
        required: true
        type: string
        description: 'The repository to upload docker image'
jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      HELM_PATH: apps/shinemodas
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          repository: ${{ inputs.organization }}/${{ inputs.repository_helm }}
          token: ${{ secrets.ACCESS_TOKEN_HELM }}

      - name: Setup Git Configuration
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"

      - name: Create Folder
        run: |
          mkdir -p "$HELM_PATH"
      
      - name: Create Branch
        env:
          PROJECT: ${{ inputs.project }}
          APPLICATION: ${{ inputs.application }}
          ENVIRONMENT: ${{ inputs.environment }}
          VERSION: ${{ inputs.version }}
        run: |
          git add .
          git commit -m "Set $PROJECT image tag to $VERSION"
          git push

      - name: Helm upgrade
        env:
          KUBECONFIG: ${{ runner.temp }}/kubeconfig
        run: |
          helm upgrade ${{ inputs.application }} "$HELM_PATH" \
          --set image.repository=${{ inputs.docker_image }} \
          --set image.tag=${{ inputs.version }} 